name: Flake8 Lint

on:
  push:
    paths:
      - '**/*.py'
  pull_request:
    paths:
      - '**/*.py'

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint with Flake8
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Flake8
        run: pip install flake8

      - name: Run Flake8
        run: flake8 .
